<div class="pb-2">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>
</div>

<div class="container pb-5">
    <div class="">
        @*Card de autor*@
        <div class="card">
            <div class="card-body">
                <div class="px-2">
                    @Html.Label("lblAutores", "Autores")
                </div>

                @*Card de Lista Autores*@
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tbody class="">
                                @foreach (var autores in (IEnumerable<dynamic>)ViewData["autores"])
                                {
                                    <tr class="">
                                        <td>@autores.nombreautor</td>
                                        <td class="text-end">
                                            <button type="button" class="btn btn-success">
                                                @Html.ActionLink(
                                                    "Seleccionar",
                                                    "Index",
                                                    "Libro",
                                                    new { id = autores.idAutor },
                                                    new { @class = "text-white text-decoration-none" })
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

