<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021JS650_2021SZ650</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021JS650_2021SZ650.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row py-5 px-5" style="background-color:#22252C">
                <div class="text-center text-white">
                    <div>
                        <img class="" src="~/Images/unicaes.png" style="width: 70px"/>
                    </div>
                    <div class="">
                        <h3>Comentarios por Libros</h3>
                        <small>Seleccione el autor -> Seleccione el Libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario</small>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#22252C">
        <div class="container">
           <div class="text-center text-white py-2">
                <div><small>2021-JS-650 - Adriana Michelle Jacobo Santos</small></div>
                <div><small>2021-SZ-650 - Diego José Saravia Zaldaña</small></div>
               
                
           </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
